{% extends "layout.html" %} 

{% block title %}Home{% endblock %}

{% block head %} {{ super() }} {% endblock %} 

{% block content %}
<div class="container" style="overflow: auto;display: flex;justify-content:center;">
  <div class="card mt-3 mb-3" style="width: 800px;">
      <div class="card-body">
        <zero-md src="{{ url_for('static', filename='readme.md') }}"></zero-md>
      </div>
  </div>
</div>

{% endblock %}

{% block fooder %}
    <footer style="margin-top: 36px;">
        <div class="text-center"><small>Taller de proyecto 2 - 2020</small></div>
    </footer>
{% endblock %}
